


// ================================================================

// ADDITIONAL ADMIN CONTENT STYLES

// ================================================================



.c-headline__admin {
  font-family: headline, sans-serif;
  text-decoration: none;
  letter-spacing: -1px;

  color: var(--color-copy);



  &--1 {
    @include responsive-font(6vw, 36px, 80px);
  }
}



.c-link {
  display: inline-flex;
  align-items: baseline;

  transition: all var(--anim-dur) var(--anim-ease);



  &--admin {
    display: inline-block;

    text-decoration: none;
    color: var(--color-copy);

    &:hover {
      color: var(--color-primary);
    }
  }



  &--delete {
    display: inline-block;

    margin-right: 0.5em;

    font-size: 1.2em;
    text-decoration: none;

    color: var(--color-primary);
  }



  &--date {
    margin-right: 0.5em;
    color: shade(white, 30);
  }



  &--offline {
    color: shade(white, 30);
  }
}
