


// ================================================================

// PAGE CONTENT CONTAINER

// ================================================================



.l-content {
  padding: 5%;
  animation: fadeIn 0.2s;

  @include vp-nav-desktop {
    padding: 5% 6% 4% 26%;
  }
}



// -----------------------------------------------------------------------



.c-scrollContainer {
  margin: 0 0 14px;
  overflow: auto;

  // make scrollbar visible on mobile devices
  // ----------------------------------------
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
  }
}



// -----------------------------------------------------------------------



.c-code {
  display: inline-block;
  padding: 3%;
  min-width: 100%;
  color: white;
  background-color: tint(black, 20);

  @include vp-nav-desktop {
    padding: 2%;
  }
}



// -----------------------------------------------------------------------



// gump error messages
// -------------------
.gump-error-message {
  display: block;

  padding: 0.2em 0.5em;

  color: white;
  background-color: var(--color-primary);
}



// -----------------------------------------------------------------------



.c-divider {
  border-color: shade(white, 6);



  &--large {
    margin-top: 8%;
    border-top-width: 15px;
    border-top-style: solid;
    padding-bottom: 6%;
  }



  &--small {
    margin-top: 4%;
    border-top-width: 3px;
    border-top-style: solid;
    padding-bottom: 4%;
  }
}



// -----------------------------------------------------------------------



// helper classes
// --------------
.is-hidden {
  display: none;
}



.u-spaceTop {
  margin-top: 1em;
}



.u-spaceBottom {
  margin-bottom: 1em;
}



.u-spaceTopBottom {
  margin-top: 1em;
  margin-bottom: 1em;
}
